.Bd {
  border-width: 1px;
  border-style: solid;
}
.Bdc\(black\) {
  border-color: black;
}
.Bg\(t\) {
  background: transparent;
}
.Bgc\(green\) {
  background-color: green;
}
.Bgc\(white\) {
  background-color: white;
}
.Bgc\(yellow\) {
  background-color: yellow;
}
.Bgz\(300px\) {
  background-size: 300px;
}
.D\(f\) {
  display: -ms-flexbox;
  display: flex;
}
.D\(n\) {
  display: none;
}
.Flxg\(1\) {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.Flxs\(1\) {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.Fld\(c\) {
  -ms-flex-direction: column;
  flex-direction: column;
}
.Fz\(66\.6\%\) {
  font-size: 66.6%;
}
.H\(65px\) {
  height: 65px;
}
.H\(90px\) {
  height: 90px;
}
.Mx\(3px\) {
  margin-left: 3px;
  margin-right: 3px;
}
.T\(0px\) {
  top: 0px;
}
.B\(0px\) {
  bottom: 0px;
}
.Start\(0px\) {
  left: 0px;
}
.Pos\(f\) {
  position: fixed;
}
.W\(600px\) {
  width: 600px;
}
.W\(65px\) {
  width: 65px;
}
.Z\(999\) {
  z-index: 999;
}
@media(min-width:840px) {
  .Fz\(100\%\)--sm {
    font-size: 100%;
  }
}
