.Bd {
  border-width: 1px;
}
.Bd, .BdX {
  border-style: solid;
}
.Bdc\(black\) {
  border-color: black;
}
.Bg\(t\) {
  background: transparent;
}
.Bgc\(white\) {
  background-color: white;
}
.Bgc\(gray\) {
  background-color: gray;
}
.H\(0\) {
  height: 0;
}
.H\(100px\) {
  height: 100px;
}
.H\(65px\) {
  height: 65px;
}
.Mx\(3px\) {
  margin-left: 3px;
  margin-right: 3px;
}
.T\(0px\) {
  top: 0px;
}
.B\(0px\) {
  bottom: 0px;
}
.Start\(0px\) {
  left: 0px;
}
.Op\(0\) {
  opacity: 0;
}
.foo:hover > .foo\:h\>Op\(1\) {
  opacity: 1;
}
.Px\(10px\) {
  padding-left: 10px;
  padding-right: 10px;
}
.Pos\(r\) {
  position: relative;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(a\), .StretchedBox {
  position: absolute;
}
.W\(500px\) {
  width: 500px;
}
.W\(600px\) {
  width: 600px;
}
.Z\(999\) {
  z-index: 999;
}
.BdX {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
.Cf, .Row {
  zoom: 1;
}
.Row {
  clear: both;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  *display: block;
  *width: auto;
}
.StretchedBox {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
